header {
    position: relative;
    font-family: "Montserrat", sans-serif;
    padding-top: 104px;
    @include background-image('/header/ys-header.png',right bottom,contain,$darkBlueTransparent);
    
    a{
        color:$textColor;
    }
    .container-fluid{
        position: absolute;
        bottom: 0;
        margin: auto;
        right: 0;
        left: 0;
        background-color: #f7f8fb;
        
        .navbar{
            margin-top: 20px;
            .navbar-header{
                margin-left:0;
                margin-right:0;
                .navbar-toggle{
                    .icon-bar {
                        background: #a8aaba;
                    }
                }
            }

/*            .container-fluid{
                width: 100%;
                .navbar-header{
                    button{
                        .icon-bar{
                            background-color:$white;
                        }
                    }
                }
                #navbar{
                    @media ($mob-width){
                        &{
                            background: rgba(35, 37, 43, 0.95);
                        }
                    }
                    .navbar-nav>li{
                        text-align:center;
                        &>a{
                            
                            background-color: inherit;
                        }
                    }
                }
            }*/

        }
        
    }
    .with-video {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0px;
        left: 0px;
        z-index: -1;
        video {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            transform: translate(-50%, -50%);
        }
    }
    h1 {
        color: $white;
        font-size: 51px;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0px auto 30px;
    }
    p {
        font-size: 14px;
        font-weight: 600;
        color: $white;
        text-transform: uppercase;
        margin: 0px auto 20px;
        span {
            color: $red;
        }
    }
    ul{
        list-style-type: none;
        padding: 0px;
        margin: 0px auto 50px;
        li {
            position: relative;
            color: $white;
            font-size: 17px;
            font-weight: 400;
            padding-left: 15px;
            &:before {
                position: absolute;
                left: 0px;
                top: 50%;
                margin-top: -3px;
                content: "";
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 100%;
                
            }
            &:not(:last-of-type) {
                margin: 0px auto 5px;
            }
            &:last-of-type {
                margin: 0px auto;
            }
        }
        &.font-thin{
            li{
                &:before{
                    background-color: $red;
                }
            }
        }
        &.navbar-nav:not(.social-nav){
            li{
                padding: 0 8px;
                &:before{
                    width: 3px;
                    height: 3px;
                    background-color: #b5b5bb;
                }
                &:first-of-type:before{
                    width: 0px;
                    height: px;
                }
            }
        }
    }
}