.with-opinions {
    .title{
        @media($mob-width){
            &{
                margin:0;
            }
        }
    }
    .slider{
        .display{
            height: 300px;
            padding: 30px;
            @media($mob-width){
                &{
                    padding: 0px;
                    height:auto;
                }
            }
            
        }
        .arrow{
            position: absolute;
            top: calc(50% - 40px);
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            background-color: #1c2025;
            border-radius: 100%;
            color: #ffffff;
            font-size: 35px;
            padding: 18px 30px;
            display: flex;
            align-items: center;
            @include transition(all .5s ease-in-out);
            
            i{
                display: block;
                margin: auto;
            }
            
            @media($mob-width){
                &{
                    background-color:transparent;
                    color:#1c2025;
                    padding: 0;
                }
            }
            &.right-arrow{
                right:-90px;
                @media($mob-width){
                    &{
                        right: 0;
                        top: 0;
                        bottom: 0;
                        width: 40px;
                    }
                }
            }
            &.left-arrow{
                left:-90px;
                @media($mob-width){
                    &{
                        left: 0;
                        top: 0;
                        bottom: 0;
                        width: 40px;;
                    }
                }
            }
            &:hover{
                background-color:#304ffe;
                box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.4);
                @media($mob-width){
                    &{
                        box-shadow:unset;
                        background-color:transparent;
                    }
                }
            }
        }
        .img{
            padding: 50px 100px;
            box-shadow: 40px 40px 80px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            @include transition(transform 0.5s , display .2s .2s);
            &:not(.active){
                visibility: hidden;
                opacity: 0;
                @include transform(translate(200%));
                width:0;
                height:0;
                padding:0;
            }
            &.active{ 
                visibility: visible;
                opacity: 1;
                @include transform(translate(0%));
                width:100%;
                height:auto;
                @media($mob-width){
                    &{
                        margin:auto;
                        padding: 35px;
                    }
                }
            }
            .text{
                color: #343656;
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                @media($mob-width){
                    &{
                        line-height: 21px;
                    }
                }
            }
            .user{
                margin-top: 30px;
                text-align:center;
                .u-name{
                    color: #304ffe;
                    font-size: 14px;
                    font-weight: 400;
                    margin-top:20px;
                }
            }
        }
    }
}
/*.slider {
    position: relative;
    .slider-content {
        position: relative;
        height: 418px;
        overflow: hidden;
        .opinion {
            display: table;
            position: absolute;
            width: 100%;
            text-align: center;
            .additory-module {
                display: table-cell;
                height: 418px;
                vertical-align: middle;
            }
            &.passive {
                display: none;
            }
        }
    }
    .slider-pagination {
        margin: 20px auto;
        text-align: center;
        div {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            margin: 0px 5px;
            @include transition(background-color, 0.2s, ease);
            &.active {
                background-color: $red;
            }
            &:not(.active) {
                background-color: $lightGrey;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    .slider-button {
        position: absolute;
        top: 50%;
        display: block;
        width: 40px;
        height: 40px;
        fill: $red;
        z-index: 10;
        border-radius: 100%;
        @include transition(background-color, 0.2s, ease-in-out);
        &:hover {
            cursor: pointer;
            background-color: rgb(198, 57, 80);
        }
        background-position: 60% 50%;
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-image: url("../img/slider-arrow.svg");
        background-color: rgba(41, 43, 66, 1);
    }
}
@media screen and (max-device-width: 720px) {
    .slider-content {
        margin: 0px 40px;
    }
    .left-button {
        left: 0px;
        transform: rotate(180deg);
    }
    .right-button {
        right: 0px;
    }
}
@media screen and (min-device-width: 721px) {
    .left-button {
        left: -55px;
        transform: rotate(180deg);
    }
    .right-button {
        right: -55px;
    }
}*/