.title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin: 0px auto 60px;
    text-transform:uppercase;
    letter-spacing: 1px;
    font-family: $text-bolder;
    span {
        display: block;
    }
    &:not(.light) {
        color: $textColor;
    }
    &.light {
        color: $white;
    }
}